{% include "layout/partials/counsellor/header.html" %}

<style>.gap-sm {
  display: flex;
  gap: 8px;
}</style>
<div class="container">
  <div class="page-inner">
    
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title">Form Elements</div>
          </div>
          <div class="card-body">
            <div class="row">
              <form action="{% url 'dashboard:con' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="email2"> Name</label>
                      <input type="text" class="form-control" id="email2" name="name" placeholder="Enter name"  required pattern="^[A-Z][a-zA-Z\s]*$" title="Name must start with a capital letter and contain only letters."/>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="email2"> Specialization</label>
                      <input type="text" class="form-control" id="email2" name="special"
                        placeholder="Enter specialization" />

                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="email2"> Experience</label>
                      <input type="text" class="form-control" id="email2" name="exp" placeholder="Enter Experience" />

                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="email2"> Doctor Number</label>
                      <input type="text" class="form-control" id="email2" name="number"
                        placeholder="Enter Doctor number " />

                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="email2"> User name</label>
                      <input type="text" class="form-control" id="email2" name="username"
                        placeholder="Enter username" required minlength="8" title="Username must be at least 8 characters long." />

                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="email2"> Password</label>
                      <input type="password" class="form-control" id="email2" name="password"
                        placeholder="Enter password" required pattern="[0-9]{10}" title="Please enter a valid 10-digit mobile number"/>

                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="email2"> E-Mail</label>
                      <input type="text" class="form-control" id="email2" name="email" placeholder="Enter email" />

                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="email2"> Contact</label>
                      <input type="text" class="form-control" id="email2" name="contact"
                        placeholder="Enter phone number" required />

                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="email2"> About</label>
                      <input type="text" class="form-control" id="email2" name="desc" placeholder="Enter description" />

                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="email2">Image</label>
                      <input type="file" class="form-control" id="email2" name="img" />

                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="email2"> Daily count</label>
                      <input type="text" class="form-control" id="email2" name="count" placeholder="Enter count" />

                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="email2"> Fee</label>
                      <input type="text" class="form-control" id="email2" name="fee" placeholder="Amount" />

                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="select">Gender</label>
                      <select class="form-control" name="gender">
                        <option>Select</option>
                        <option>Male</option>
                        <option>Female</option>
                        <option>Other</option>
                      </select>
                    </div>
                  </div>
                </div>
                


                <div class="d-flex justify-content-end gap-sm">
                  <!-- <div class="col-md-2"> -->
                    <button class="btn btn-success ">Submit</button>

                  <!-- </div> -->
                  <!-- <div class="col-md-2"> -->

                    <button class="btn btn-light">Cancel</button>
                  <!-- </div> -->
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "layout/partials/counsellor/footer.html" %}